/* GENERAL */

html, body {
	touch-action: none;
	user-select: none;
}
body {
	color: #333;
	background: #000;
	text-align: center;
	min-height: 100vh;
	overflow: hidden;
	font-family: arial;
}

/* BOARD */

#board {
	border-collapse: collapse;
	text-align: center;
	width: 85vmin;
	height: 85vmin;
	margin: 0 auto;
	table-layout:fixed;
}
.row {
	padding: 0;
	width: 100%;
	height: calc(85vmin / 10);
}
.cell {
	padding: 0;
	height: auto;
	width: 30px;
	background: #808080;
	border: 3px solid #C0C0C0;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* NORMAL */

.cell[type="normal"] {
	color: #000;
	font-size: calc(100vmin / 10 / 6) !important;
}
.cell[type="normal"][check="true"] {
	background: #C0C0C0;
	border: 3px solid #eee;
}

/* BOMB */

.cell[type="bomb"] {
	font-size: calc(100vmin / 10 / 3) !important;
}

/* FLAG */
.cell[flag="true"] {
	background-image: url(../img/flag.png) !important;
	background-repeat: no-repeat !important;
	background-size: calc(100vmin / 10 / 3) !important;
	background-position: calc(100vmin / 10 / 3) !important;
}

#instructions {
	line-height: 28px;
	padding: 30px;
	color: #000;
	background: #fff;
	z-index: 1000;
	box-sizing: border-box;
	width: 50vw;
	display: fixed;
	position: fixed;
	top: 0; 
	left: 0;
	transform: translate(calc(50vw - 50%), calc(30vh - 30%));
}

/*
@media (max-width: 700px) {
	#instructions {
		line-height: 28px;
		padding: 30px;
		color: #000;
		background: #fff;
		z-index: 1000;
		box-sizing: border-box;
		width: 100vw;
		display: fixed;
		position: fixed;
		top: 0; 
		left: 0;
		transform: translate(calc(50vw - 50%), calc(30vh - 30%));
	}
}*/

#board-top {
	box-sizing: border-box;
	width: 85vmin;
	margin: 0 auto;
	height: calc(85vmin / 10);
	padding: calc(100vmin / 10 / 5) !important;
	background: #aaa !important;
	
}
#board-mines, #board-status, #board-timer {
	box-sizing: border-box;
	background: #000;
	color: red;
	padding: 5px !important;
	display: inline-block;
	min-width: calc(85vh / 13) !important;
	font-size: calc(85vmin / 10 / 3) !important;
}

#board-mines {
}
#board-status {
	margin: 0 50px;
}
#board-timer {
}